{% comment %} {% extends 'cow/base.html' %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ cowd.cow_num }}번 소 </title>
        <link href="{% static 'cow/css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include 'cow/navbar.html' %}    
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4"><i class="fa-sharp fa-solid fa-cow"></i>&nbsp;&nbsp;{{ cowd.cow_num }}번 소 발정 지수</h1>
                        <!-- 차트 그리기-->
                        <canvas id="SensorAreaChart" width="100%" height="30"></canvas>
                        <!-- 소 이벤트 및 정보 테이블-->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                소 상세 정보
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                          <th>소id</th>
                                          <th>그룹명</th>
                                          <th>센서id</th>
                                          <th>일령</th>
                                          <th width="19%">상태</th>
                                          <th>산차</th>
                                          <th>공태일</th>
                                          <th>출생일</th>
                                          <th></th>
                                        </tr>
                                    </thead>
                                      <tbody> 
                                      <tr>
                                        
                                          <td>{{ cowd.cow_num }}</td>
                                          <td>{{ cowd.group }}</td>
                                          <td>{{ cowd.SensorID_id }}</td>
                                          <td>{{ cowd.age }}</td>
                                          <td>{{ cowd.stats }}
                                          <form method="post">{% csrf_token %}
                                            <select class="form-select" name="stats" required="" id="id_stats" aria-label="Default select example" value="{{ cowd.stats }}">
                                              <option value="임신">임신</option>                                                    
                                              <option value="수정 완료">수정 완료</option>
                                              <option value="육성 우">육성 우</option>
                                              <option value="최근 분만 우">최근 분만 우</option>
                                            </select>
                                            <br>
                                            <button type="submit" class="btn btn-dark float-right">저장</button>
                                          </form>
                                          </td>
                                          <td>{{ cowd.carving_num }}</td>
                                          <td>{{ cowd.empyt_days }}</td>
                                          <td>{{ cowd.birthday }}</td>
                                          <td>   </td>
                                          
                                      </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'cow/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'cow/js/datatables-simple-demo.js' %}"></script>
        <script>// Set new default font family and font color to mimic Bootstrap's default styling
          Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
          Chart.defaults.global.defaultFontColor = '#292b2c';
          var dataList = [];
          var labelList = [];
          var vectorList = [];
          {% for sensor in sensorid %}
          dataList.push( {{ sensor.temp }});
          labelList.push( '{{ sensor.time }}');
          vectorList.push( {{ sensor.vector }}) 
          {% endfor %} 
          console.log('vectorList:', vectorList);

          // Area Chart Example
          var ctx = document.getElementById("SensorAreaChart");
          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: labelList,
              datasets: [{
                label: "vector",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "#33CC33",
                pointRadius: 5,
                pointBackgroundColor: "#33CC33",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "#33CC33",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: vectorList,
              }],
            },
            options: {
              scales: {
                xAxes: [{
                  time: {
                    unit: 'date'
                  },
                  gridLines: {
                    display: false
                  },
                  ticks: {
                    maxTicksLimit: 7
                  }
                }],
                yAxes: [{
                  ticks: {
                    min: 0,
                    max: 400,
                    maxTicksLimit: 5
                  },
                  gridLines: {
                    color: "rgba(0, 0, 0, .125)",
                  }
                }],
              },
              legend: {
                display: false
              }
            }
          });
          </script> 
    </body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
jQuery(document).ready(function($) {
  /*
  if ($("#id_stats").attr("value")) {
    //alert($("#id_stats").attr("value"));
    $("#id_stats").val($("#id_stats").attr("value"));
  }
*/
  $("select").each(function(oi) {
    if ($(this).attr("value")) {
      //alert($("#id_stats").attr("value"));
      $(this).val($(this).attr("value"));
    }
  });


});
</script>
</html>
